
@media (min-width: 1200px) {

    /* Adjust the width of the main content area */
    .site-layout-content>main {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    /* Adjust the width of the sidebar */
    .site-layout-sidebar {
        flex-basis: 250px !important;
        max-width: 250px !important;
    }
    
    /* Adjust the position of ant-layout-sider */
    .ant-layout-sider.ant-layout-sider-dark {
        left: 0;
    }
}

@media (max-width: 1199px) {

    /* Adjust the width of the main content area */
    .site-layout-content>main {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    .ant-layout-sider.ant-layout-sider-dark {
        left: 0;
    }
}

section.side-layout-main {
    /* Background color of the main section, with the page contents and table of contents. */
    background: #ffffff;
    margin: 0 20px;
}

footer.ant-layout-footer {
    /* Background color of the footer */
    background: #ffffff;
}

header.ant-layout-header {
    /* Background color of the header, with logo and search bar. */
    background: #e0e0e0;
}

.dendron-tree-menu.ant-menu .ant-menu-submenu.dendron-ant-menu-submenu-selected>.ant-menu-submenu-title {
    /* Background color for the currently selected item on the sidebar. */
    background: #bed8ff;
}


/* ============> Text and link colors <============ */
body,
h1,
h2,
h3,
h4 {
    /* Text color for the text, not including links. */
    color: #0c0c0c;
}

a,
a:hover,
a:active {
    /** Color for links, except ones that have been already visited. */
    color: #00629b;
}

a:visited {
    /* Color for links that have been already visited. */
    color: #002b5c;
}

a.private {
    /* Color for links to private (not published) or missing notes. */
    color: #cc5d1a;
}

.dendron-toc .ant-anchor-link-title {
    /* Color for items in the table of contents. */
    color: #0c0c0c;
}

.dendron-tree-menu.ant-menu .ant-menu-title-content a {
    /* Color for links in the sidebar. */
    color: #00629b;
}

footer .ant-typography {
    /* Color for text in the footer, except the "Page last modified" text. */
    color: #1b1b1b;
}

footer .ant-typography.ant-typography-secondary {
    /* Color for the "Page last modified" text in the footer. */
    color: #4e4e4e;
}

.ant-menu-item a:hover,
.ant-menu-item>.ant-badge a:hover,
.ant-menu-submenu-selected {
    /* Color for the selected item in the sidebar. */
    color: #002b5c;
}

.ant-menu-submenu .ant-menu-submenu-title:hover {
    /* The color for the currently highlighted sidebar item. */
    color: #002b5c;
}

.dendron-tree-menu.ant-menu .ant-menu-inline .ant-menu-item-selected::after {
    /* The color for the bar on the right side of the currently selected sidebar item. */
    border-color: #002b5c;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    /* The color for the background of the currently selected sidebar item. */
    background-color: #c3cbdb;
}

.dendron-toc .ant-anchor-ink-ball {
    /* The color for the dot in the table of contents showing the current position. */
    border-color: #002b5c;
}

:root {
  --antd-wave-shadow-color: #b9daff;
}